{
  "openapi": "3.1.0",
  "info": {
    "title": "MemoryPlugin",
    "version": "1.0.0",
    "description": "API for managing and querying user memories"
  },
  "servers": [
    {
      "url": "https://www.memoryplugin.com"
    }
  ],
  "paths": {
    "/api/memory": {
      "post": {
        "summary": "Store a new memory",
        "operationId": "AddNewMemory",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Query or retrieve memories.",
        "operationId": "GetMemories",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query for memories. You will receive the 5 most relevant memories."
          },
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fetch all memories"
          },
          {
            "name": "latest",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fetch latest memories"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of memories to retrieve, use with latest=true to limit the number of memories retrieved"
          },
          {
            "name": "v",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 2
            },
            "description": "API version - current is 2"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client source identifier (e.g., 'chatgpt' for ChatGPT requests)"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Number of memories to skip for pagination. Zero-indexed: skip=0 starts from first memory, skip=10 skips first 10 memories and starts from 11th. Used primarily with token limiting to load additional memories beyond the initial response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Memory"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Memory"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/buckets": {
      "get": {
        "summary": "List all memory buckets",
        "operationId": "ListBuckets",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 2
            },
            "description": "API version - current is 2"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client source identifier (e.g., 'chatgpt' for ChatGPT requests)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of memory buckets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bucket"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a new bucket",
        "operationId": "CreateBucket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the bucket to create"
                  },
                  "source": {
                    "type": "string",
                    "description": "Client source identifier (e.g., 'chatgpt' for ChatGPT requests)"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["Bucket created successfully"]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/memory": {
      "get": {
        "summary": "Get memories and buckets in a single request",
        "operationId": "GetMemoriesAndBuckets",
        "parameters": [
          {
            "name": "bucketId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Optional bucket ID to filter memories"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of memories to retrieve"
          },
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fetch all memories"
          },
          {
            "name": "latest",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fetch latest memories"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query for memories"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Client source identifier (e.g., 'chatgpt' for ChatGPT requests)"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Number of memories to skip for pagination. Zero-indexed: skip=0 starts from first memory, skip=10 skips first 10 memories and starts from 11th. Used primarily with token limiting to load additional memories beyond the initial response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with memories and buckets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "bucketId": {
                                "type": "integer"
                              },
                              "bucketName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "buckets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bucket"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/chat-history/ingest/custom-online": {
      "post": {
        "summary": "Upload chat history",
        "operationId": "UploadChatHistory",
        "description": "Upload a single conversation from any platform. Supports upsert semantics — re-sending a conversation with the same ID will update it with new messages. The conversation is processed asynchronously (chunked, embedded, and indexed for search).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomChatHistoryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryIngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "MemoryInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The memory to be added. Always prepend with current date in YYYY-MM-DD format in the users timezone if you know it, UTC otherwise."
          },
          "bucketId": {
            "type": "integer",
            "description": "The id of the bucket to add the memory to. If not provided, the memory will be added to the default bucket."
          },
          "source": {
            "type": "string",
            "description": "Client source identifier (e.g., 'chatgpt' for ChatGPT requests)"
          }
        },
        "required": ["text"]
      },
      "Memory": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "bucketId": {
                "type": "integer",
                "description": "Numeric ID of the bucket"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "done": {
            "type": "string",
            "enum": ["ok"]
          }
        }
      },
      "Bucket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the bucket"
          },
          "name": {
            "type": "string",
            "description": "Display name of the bucket"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the bucket"
          },
          "memoryCount": {
            "type": "integer",
            "description": "Number of memories in this bucket"
          }
        },
        "required": ["id", "name", "memoryCount"]
      },
      "CustomChatHistoryInput": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string",
            "description": "Platform identifier for your integration (e.g., 'my-slack-bot', 'internal-tool'). Alphanumeric, hyphens, underscores, dots. Max 100 chars. Defaults to 'custom' if omitted.",
            "pattern": "^[a-zA-Z0-9\\-_.]{1,100}$",
            "example": "my-custom-app"
          },
          "platformDisplayName": {
            "type": "string",
            "description": "Human-readable display name for the platform shown in the UI. Max 200 chars. Overwrites previous value if supplied again for the same platform.",
            "maxLength": 200,
            "example": "My Custom App"
          },
          "conversation": {
            "type": "object",
            "description": "The conversation to upload.",
            "properties": {
              "id": {
                "type": "string",
                "description": "Your unique identifier for this conversation. Used for upsert deduplication — sending the same ID again updates the existing conversation.",
                "maxLength": 500,
                "example": "conv-abc-123"
              },
              "title": {
                "type": "string",
                "description": "Display title of the conversation.",
                "example": "Discussion about API design"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "When the conversation was created (ISO 8601).",
                "example": "2026-04-27T10:00:00Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "When the conversation was last updated (ISO 8601). Defaults to createdAt if omitted.",
                "example": "2026-04-27T11:30:00Z"
              },
              "messages": {
                "type": "array",
                "description": "The messages in the conversation. Must contain at least one message.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Your unique identifier for this message. Used for deduplication on re-upload.",
                      "example": "msg-001"
                    },
                    "role": {
                      "type": "string",
                      "enum": ["human", "assistant"],
                      "description": "Who sent this message."
                    },
                    "content": {
                      "type": "string",
                      "description": "The message text content.",
                      "example": "How should we structure the API?"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this message was sent (ISO 8601). Optional but recommended for correct ordering.",
                      "example": "2026-04-27T10:00:00Z"
                    }
                  },
                  "required": ["id", "role", "content"]
                }
              }
            },
            "required": ["id", "title", "createdAt", "messages"]
          }
        },
        "required": ["conversation"]
      },
      "ChatHistoryIngestResponse": {
        "type": "object",
        "properties": {
          "queued": {
            "type": "boolean",
            "description": "Whether the conversation was accepted for processing."
          },
          "importId": {
            "type": "string",
            "description": "The import record ID for this platform."
          },
          "conversationId": {
            "type": "string",
            "description": "The internal conversation ID assigned by MemoryPlugin."
          },
          "platform": {
            "type": "string",
            "description": "The resolved platform identifier."
          },
          "conversation": {
            "type": "object",
            "description": "Conversation details after upsert.",
            "properties": {
              "id": {
                "type": "string",
                "description": "Internal conversation ID."
              },
              "platformConversationId": {
                "type": "string",
                "description": "Your supplied conversation ID."
              },
              "title": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "messageCount": {
                "type": "integer"
              },
              "status": {
                "type": "string",
                "enum": ["queued"],
                "description": "Processing status. 'queued' means the conversation is stored and background processing (chunking, embedding) is in progress."
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
